.loader-text {
    text-align: center;
    margin-top: 16px;
    color: white; 
    animation: pulse 1.5s ease-in-out infinite;
    font-size: 16px;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  